<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header class="display-flex justify-space-between align-center p-2 ">
    <nav>
      <div class="nav-wrapper purple darken-3">
        <a href="/" class="brand-logo center">Tech blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/signin">Login</a></li>
        </ul>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
        </ul>
      </div>
    </nav>
</header>
<div class="container">

  {{{ body }}}
</div>

</body>

</html>