<h4>Edit Post test</h4>
<form class="card  overlap-card grey lighten-5 z-depth-1 dashboard-post edit-post-form">
    <label for="post-name" class="form-label">Title</label>
    <input name="post-name" type="text" value="{{title}}" class="form-input" id="post-name" />

    <label class="form-label" for="content">Content</label>
    <input name="post-desc" type="text" value="{{content}}" class="form-input" id="post-desc" />

    <a class="btn btn-sm btn-danger blue-grey lighten-2 delete-post" data-id="{{id}}">Delete</a>
    <a class="btn btn-sm btn-danger blue-grey lighten-2 edit-post" data-id="{{id}}">Update</a>
</form>

<script src="/js/delete-post.js"></script>
<script src="/js/edit-post.js"></script>