<div class="row">
    <div class="col l6 m6 center">
        <div class='card'>
            <div class="login-form">
                <h5>SignUp</h5>
                <form action="/register" method="POST">
                    <div class="input-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" />
                    </div>
                    <div class="input-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" />
                    </div>
                    <button>Register</button>
                    <a href="/signin">SignIn instead</a>
                </form>
            </div>
        </div>
    </div>
</div>