<div class="row">
    <div class="col l6 m6 center">
        {{!-- <div class='card'> --}}
            <h5>SignUp</h5>
            <form class="form signup-form">
                <div class="form-group">
                    <label for="user-login">User:</label>
                    <input class="form-input" type="text" id="user-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">Password:</label>
                    <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                    <button class="btn waves-effect waves-light purple lighten-1" type="submit">Sign Up</button>
                    <a href="/signin">SignIn instead</a>
                </div>
            </form>
        {{!-- </div> --}}
    </div>
</div>

<script src="./js/signup.js"></script>